/*
width: Thiết lập chiều rộng
height: Thiết lập chiều cao
min-width: Thiết lập chiều rộng tối thiểu
max-width: THiết lập chiều rộng tối đa
min-height: Thiết lập chiều cao tối thiểu
max-height: Thiết lập chiều cao tối đa


Đơn vị: px, %, vh, vw

Lưu ý: Chỉ áp dụng với thẻ block, inline-block
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}


/* .wrapper {
    height: 400px;
    background: yellow;
}


.box {
    width: 200px;
    height: 100vh;
    background: green;
} */
/* 
a {
    background-color: red;
    color: #fff;
    width: 100px;
    height: 50px;
    display: inline-block;
}

img {
    width: 300px;
} */

.box {
    width: 400px;
    height: 400px;
    background: green;
}

.content {
    width: 600px;
    max-width: 400px;
    height: 300px;
    background: yellow;
}


img {
    max-width: 100%;
}